/* styles.css */

body {
    font-family: 'Marcellus', serif;
    margin: 0 40px;
    padding: 0;
    background-color: #1f1f1f; /* Set dark background color */
    color: #fff; /* Set text color to white */
}

header {
    color: white;
    text-align: center;
    padding: 1em;
    position: relative;
    z-index: 1; /* Ensure header is on top */
}

nav {
    background-color: #1f1f1f;
    overflow: hidden;
    position: absolute;
    top: 0; /* Position navigation at the top */
    width: 100%; /* Take up full width */
    z-index: 2; /* Ensure navigation is on top */
    text-align: right;
}

nav a {
    display : inline-block;
    color: white;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 20px;
}

nav a:hover {
    background-color: #555; 
}

section {
    padding: 1em;
    text-align: center;
}

h1 {
    font-size: 4.5em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
}
@media (min-width: 38em){
    .wrapper {
        width: calc(100% - 3.75rem);
    }
}